<!DOCTYPE html>
<html>
  <head>
    <title>TETRA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <ul id='dropdown1' class='dropdown-content'>
        <% @basic_queries.each_with_index do |item,index| %>
            <li>
                <%= link_to query_path(index+1) do %>
                    <%= index+1 %> -
                    <%= I18n.t("queries.name.q_#{(index+1).to_s.rjust(2, '0')}") %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <ul id='dropdown2' class='dropdown-content'>
        <% @report_queries.each_with_index do |item,index| %>
            <li>
                <%= link_to query_path(index+11) do %>
                    <%= index+11 %> - <%= I18n.t("queries.name.q_#{(index+11)}") %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <ul id='dropdown3' class='dropdown-content'>
        <% @transcript_queries.each_with_index do |item,index| %>
            <li>
                <%= link_to query_path(index+14) do %>
                    <%= index+14 %> - <%= I18n.t("queries.name.q_#{(index+14)}") %>
                <% end %>
            </li>
        <% end %>
    </ul>
    <nav>
      <div class="nav-wrapper row">
        <div class="col s2">
          <%= link_to 'Retornar ao Menu', root_path %>
        </div>
        <ul class="center hide-on-med-and-down">
          <li class="col s4">
              <a class="dropdown-button" data-beloworigin="true" data-activates='dropdown1'>
                  Escolha uma das consultas básicas<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
          <li class="col s4">
              <a class="dropdown-button" data-beloworigin="true" data-activates='dropdown2'>
                  Escolha uma das consultas tipo relatório<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
          <li class="col s2">
              <a class="dropdown-button" data-beloworigin="true" data-activates='dropdown3'>
                  Dados Não-Convencionais<i class="material-icons right">arrow_drop_down</i>
              </a>
          </li>
        </ul>
      </div>
    </nav>

    <script>
    $(document).ready(function () {
        $(".dropdown-button").dropdown({hover: false});
    });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
