<div class="row">
    <img class="col s4 materialboxed" data-caption="Diagrama ER" src="assets/ER.png">
    <div class="col s4">
        <div style="text-align: center;" class="card indigo lighten-3 ">
            <div class="card-content black-text">
                <span class="card-title"><b><span style="color: red">TE.</span>T.R.A.</b></span>
                <p ><span style="color: red">TED</span> Talks Rails Application</p>
            </div>
        </div>
        <div style="text-align: center;" class="card indigo lighten-3 ">
            <div class="card-content black-text">
                <p>Este trabalho de Introdução à Banco de Dados</p>
                <p>
                    está disponível no
                    <a style="color: blue" href="http://homepages.dcc.ufmg.br/~mirella/doku.php?id=dcc011:main">site</a>
                    da Professora Mirella
                </p>
            </div>
        </div>
        <div style="text-align: center;" class="card indigo lighten-3 ">
            <div class="card-content black-text">
                <p>
O objetivo deste trabalho é projetar e implementar um banco de dados relacional para
realizar consultas interessantes. O projeto do banco de dados deverá seguir o processo
apresentado em aula. Em particular, deverão ser  apresentados  o  diagrama
entidade-relacionamento e  o  esquema  relacional  referente  ao  banco  de  dados
projetado. O banco de dados deverá ser instanciado com dados reais (de preferência)
ou gerados sinteticamente. Consultas deverão ser realizadas sobre o banco.
                </p>
            </div>
        </div>
    </div>
    <img class="col s4 materialboxed" data-caption="Modelo Relacional" src="assets/Modelo_Relacional.png">
</div>

<script>
$(document).ready(function(){
   $('.materialboxed').materialbox();
 });
</script>
